body {
    background-color: #FFFFFF;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.containers {
    margin-top: 5em;
}

.wireframe {
    margin-top: 2em;
}

.ui.containers {
    margin-left: 15%;
    width: 75%;
    height: 80%;
}

.mascot-frog {
    position: absolute;
    right: 150px;
    bottom: 35px;
    z-index: 1;
}

.mascot-frog:hover {
    opacity: 0.9;
}
