body {
    background-color: #FFFFFF;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.containers {
    margin-top: 5em;
    margin-bottom: 5em;
}

.wireframe {
    margin-top: 2em;
}

.ui.containers {
    /*margin-left: 15%;*/
    width: 100%;
    height: 85%;
}

.mascot-frog {
    position: fixed;
    right: 10%;
    bottom: 35px;
    z-index: 1;
}

.mascot-frog:hover {
    opacity: 0.9;
}

.full-container {
    width: 80%;
    margin: 0 auto;
}