#dashboard-container {
    position: absolute;
    bottom: 80px;
    width: 30%;
}

.built-app {
    width: auto;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 10px;
}

.dashboard-title {
    margin-top: 20px;
}